<nav class="navbar fixed-top bg-body-tertiary">
  <div class="container-fluid">
    <div class="d-flex flex-row mb-3">
      <div class="p-2">@Html.ActionLink("Factory Home", "Index", "Home", null,  new { @class = "navbar-brand"})</div>
      <div class="p-2">@Html.ActionLink("Engineers", "Index", "Engineers", null,  new { @class = "navbar-link"})</div>
      <div class="p-2">@Html.ActionLink("Machines", "Index", "Machines", null,  new { @class = "navbar-link"})</div>
    </div>
  </div>
</nav>