@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<h1>Engineer Details</h1>

<h2>@Model.Name</h2>

@* Add link to add machine to engineer *@

@Html.ActionLink("Edit Engineer", "Edit", new {id = @Model.EngineerId})
<br>
@using (Html.BeginForm("Delete", "Engineers", new { id = @Model.EngineerId }))
{
  <input type="submit" value="Delete Engineer" />
}